.idk{
text-decoration: none;
list-style: none;
display: flex;
justify-content: end;
}
li{
    color:salmon;
    }
    .home-a{
        color:black;
        font-size: large;
        padding: 0px 10px;
        font-weight: 500;
    font-family: 'Heebo' , sans-serif;   
        font-weight: 500;
        font-size: 30px;
        list-style: none;
        text-decoration: none;
        
    
    }
    .active{
        color: lime;
        font-family: 'Heebo' , sans-serif;   
        font-weight: 500;
        font-size: 30px;
        list-style: none;
        text-decoration: none;
        padding: 0px 10px;
    }
    
    
    #Leftsection, #Rightsection{
        padding: 50px 0 ;
        width: 50%;
        
    }
    section{
        padding: 0 40px;
        display: flex;
    }

    #Rightsection img {
        height: 250px;
        width: 250px;
        border-radius: 100%;

    }
    