.idk {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: end;
}

li {
    color: salmon;
}

.home-a {
    color: black;
    font-size: large;
    padding: 0px 10px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 30px;
    list-style: none;
    text-decoration: none;


}

.active {
    color: lime;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    padding: 0px 10px;
}


#Leftsection,
#Rightsection {
    padding: 0 50px;
    width: 50%;
    justify-content: space-evenly;

}

.sect-1 {
    padding: 12rem 40px;
    display: flex;
}

#Rightsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Rightsection img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

button {
    padding: 30px;
    border-style: none;
    color: white;
    font-size: larger;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: x-large;
    background-color: skyblue;
}

#sect-2 {
    background-color: #EDF7FA !important;
}


.flexout {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: larger;
    background-color: skyblue;

}

#left {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    margin-right: 40px;
    padding: 20px;
}

#right {
    width: 50%;
    background-color: white;


}


.wraparound {
    display: flex;
}

.poop {
    padding: 0 5px;
}

#time {
    display: flex;

}

.adventure {
    width: 300px;
    height: 200px;
    padding: 0px 6px;
}

.finn {
    display: flex;
    font-size: large;

}

.vamp {
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    
    margin-right: 20px
}

.forrest {
    width: 70%;
    font-size: x-large;
}

.class {
    color: grey;
}